<!DOCTYPE html>
<html class="h-full bg-gray-50" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whatsapp Venom</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.9.1/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/id.min.js" integrity="sha512-he8U4ic6kf3kustvJfiERUpojM8barHoz0WYpAUDWQVn61efpm3aVAD8RWL8OloaDDzMZ1gZiubF9OSdYBqHfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="h-full">

<a href="/device/create">Create A New Device</a>

<table>
    <thead>
    <tr>
        <th>action</th>
        <th>name</th>
        <th>token</th>
        <!--<th>date</th>-->
        <th>action</th>
    </tr>
    </thead>
    <tbody>

    <% devices.forEach(function(device){ %>
        <tr>
            <td><a href="/device/<%= device.token %>">Open</a></td>
            <td><%= device.name %></td>
            <td><%= device.token %></td>
            <!--<td><%= device.updatedAt %></td>-->
            <td>
                <a href="/device/<%= device.token %>/status">Status</a>
                <a href="/device/<%= device.token %>/destroy">Delete</a>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>
<script>

</script>
</body>
</html>